
 /* 전체 네비게이션 컨테이너 높이 조절 */
.mapboxgl-ctrl-directions {
    max-height: 500px; /* 원하는 높이로 조절 */
    overflow-y: auto;
}

/* 경로 안내 목록 컨테이너 높이 조절 */
.directions-control-directions {
    max-height: 300px; /* 원하는 높이로 조절 */
    overflow-y: auto;
}

/* 스크롤바 스타일링 (선택사항) */
.directions-control-directions::-webkit-scrollbar {
    display: none;
}

.directionCloseBtn{
    position: absolute;
    z-index: 99999;
    top: 145px;
    left: 223px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}